.portada {
    width: 500px;
    height: 750px;
    padding: 20px;
    border: 10px black solid; 
    background-color: rgba(100, 100, 100, .8);
    background-size:cover;
    text-align: center;
    
    
        
}

.cuerpo{
    background-image: url("monumental.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

  
   
}

.logo{
    width: 150px;
    height: 150px;
    position: center;
}

.ingresar{
    color:white;
    background: red;
    border: 2px white solid;
    border-radius: 6px;
    justify-content: center;
    margin: 10px;
}

.Clave{
    color:white;
    background: red;
    border: 2px white solid;
    border-radius: 6px;
    justify-content: center;
    margin: 10px;
}

.fuente{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    font-size: 50px;
    font-style: normal;
}

.formulario{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin: 30px;
}

.aaa{
    margin: 10px;
    border-radius: 10px;

}